<div class="table">
    {% if title %}
    <div class="title">
        <h5>{{ title }}</h5>
    </div>
    {% endif %}
    <table class="grid">
        <thead>
            <tr>
                {% include header_template|default:"grid/header.html" %}
            </tr>
        </thead>
        <tbody>
            {% if grid.page.object_list %}
            {% for row in grid.page.object_list %}
            {% include row_template|default:"grid/row.html" %}
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="{{ grid.columns|length }}" align="center">Brak rekordów do wyświetlenia</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    
    {% if grid.paginator.num_pages > 1 %}
    {% include paginator_template|default:"grid/paginator.html" %}
    {% endif %}

    
</div>